<?xml version="1.0"?>
<!--
/**
 * Scommerce SecurityBase Module default configuration file for setting all default values
 * @category   Scommerce
 * @package    Scommerce_SecurityBase
 * @author     Scommerce Mage <core@scommerce-mage.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <security_base>
            <general>
                <enabled>1</enabled>
                <license_key>[Check your order confirmation email for license key]</license_key>
            </general>
        </security_base>
    </default>
</config>
